body{
  background-color: black;
  padding: 0 20%;

}
@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.otf');
}

header {
  border-radius: 10px;
	background-color: #5b7989;
  width: 900px;
  display:flex;
  flex-flow: row wrap;

}

.titulo{
  font-family: Dancing Script;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 2px  #02010a;
  width:70%;
  display:flex;
  flex-flow: row wrap;
}

.menu{
  font-family: Dancing Script;
  font-size: 20px;
  color: white;
  width:30%;
  display:flex;
  flex-flow: row wrap;
  text-decoration: none;
}
nav {
margin-top: 45px;
}

.contenedor1{
  background-color: #82c3a6;
  border-radius: 10px;
  width: 900px;
  display:flex;
  flex-flow: row wrap;
}

#imagen img{
  width: 800px;
  height: 400px;
  border-radius: 10px;
  align: center;
}

#imagen{
  padding: 2% 5%;
}


.contenedor2{
  background-color: #d5c75f;
  border-radius: 1px;
  width: 900px;
  display:flex;
  flex-flow: row wrap;
}

#imagen1{
  padding: 2% 10%;
}

#imagen1 img{
  width: 300px;
  height: 150px;
  border-radius: 5px;
  align: center;
}

#imagen2{
  padding: 2% 1%;
}
#imagen2 img{
  width: 300px;
  height: 150px;
  border-radius: 10px;
  align: center;
}



.pie p{
  background-color: #C6d5c5;
  border-radius: 10px;
  width: 900px;
  display:flex;
  flex-flow: row wrap;
}
