body{
  background-color: black;

}
@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.otf');
}

header {
  border-radius: 10px;
	background-color: #5b7989;
  width: 900px
  display:flex;
  flex-flow: row wrap;
}

.titulo{
  font-family: Dancing Script;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 2px  #02010a;
  width:70%
  display:flex;
  flex-flow: row wrap;
}

.menu{
  font-family: Dancing Script;
  font-size: 20px;
  color: white;
  width:30%
  display:flex;
  flex-flow: row wrap;
}
