body{
  background-color: black;
  padding: 0 20%;

}
@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.otf');
}

header {
  border-radius: 10px;
}

.contenedor{
  width: 100%;
  background-color: #5b7989;
  display:flex;
  flex-flow: row wrap;
}

.contenedor-titulo{
  width:70%;
  display:flex;
  flex-flow: row wrap;
}

#titulo{
  font-family: Dancing Script;
  font-size: 1em;
  color: white;
  text-shadow: 0 0 2px  #02010a;
  text-align: right;
}
.contenedor-menu{
  width:30%;
  display:flex;
  flex-flow: row wrap;
}

#menu{
  font-family: Dancing Script;
  font-size: 20px;
  color: white;
  text-align: right;
  letter-spacing: 1px;
  word-spacing: 12px;
}

a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	padding: 0 1px;
	text-decoration: underline;
	color: white;
}

nav {
margin-top: 40px;
margin-left: 45px;
}

.contenedor1{
  background-color: #82c3a6;
  border-radius: 10px;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
}

#imagen img{
  width: 100%;
  border-radius: 10px;
  align: center;
}

#imagen{
  padding: 2% 5%;
}


.contenedor2{
  background-color: #d5c75f;
  border-radius: 1px;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
}

#imagen1 img{
  width: 40%;
  border-radius: 5px;
  display:flex;
  flex-flow: row wrap;
}

#imagen2 img{
  width: 25%;
  border-radius: 10px;
  display:flex;
  flex-flow: row wrap;
}

.pie p{
  background-color: #C6d5c5;
  border-radius: 10px;
  width: 100%;
  padding: 2% 0;
  display:flex;
  flex-flow: row wrap;
}

@media all and (max-width: 500px) {
	.contenedor {
		width: 100%;
		order: 1;
	}

	.contenedor1 {
		width: 100%;
		order: 2;
	}
	.ontenedor2 {
		width: 100%;
		order: 3;
	}
}

@media all and (max-width: 800px) and (min-width: 500px) {
	.contenedor {
		width: 100%;
	}
	.contenedor1 {
		width: 100%;
	}
	.contenedor2 {
		width: 100%;
	}
}
